.container{
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #212121;
}

.header-links li{
    margin: 5px 35px;
    color: #448AFF;
    font-size: 30px;
    padding-bottom: 30px;
}

.title{
    font-family: 'Bungee';
    font-size: 45px;
    color: #8BC34A;
}

.fact-text{
    padding-top: 10px;
    padding-bottom: 10px;
}