body {
    background-color: #f4f3e8 !important;
    font-family: 'Univers LT Std', sans-serif;
}

#header {
    font-size: 100px;
}

.item-thumbnail {
    width: 85px;
}

.collapsible {
    font-size: 20px;
}

.collapsible-header {
    background-color: #7BA643 !important;
    color: #FFFFFF;
}

.collapsible-header:hover {
    color: #FFFFFF !important;
    background-color: #0C5030 !important;
}

#draggable-menu-wrapper {
    width: 370px;
    position: absolute !important;
    right: 20%;
    top: 48%;
}

.collapsible-body {
    background-color: white;
}

.layer {
    width: 680px;
    height: 680px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
    margin-left: 400px;
    margin-top: 50px;
}

.room {
    width: 661px;
    height: 661px;
    border-top: 30px solid rgb(238, 212, 132);
    border-bottom: 30px solid rgb(238, 212, 132);
    border-right: 30px solid #7BA643;
    border-left: 30px solid #7BA643;
    position: absolute !important;
}

.canvas-container {
    background-color: #d3d3d3;
    width: 600px;
    height: 600px;
    position: absolute !important;
}

.btn {
    color: #FFFFFF !important;
    background-color: #7BA643 !important;
    margin-left: 325px;
}

.btn:hover {
    color: #FFFFFF !important;
    background-color: #0C5030 !important;
}

#dropdown1 {
    margin-left: 325px;
}


/*#imageDialog {
    background-color: green;
    font-size: 10px;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    border-radius: 7px;
    padding: 5px 5px;
}

#imageDialog::after {
    content: "";
    position: absolute;
    top: 80%;
    right: 100%;
    margin-top: -6px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent green transparent transparent;
}*/

.tooltip {
    margin: 8px;
    padding: 8px;
    border: 1px solid blue;
    color: #fff;
    background-color: green;
    position: absolute;
    z-index: 2;
}

#theimg {
    margin: 8px;
    padding: 8px;
    background-color: lightgreen;
    position: absolute;
    z-index: 2;
}


/*#images div {
    border-top: 1px solid green;
    border: 1px solid green;
    height: 150px;
    overflow: scroll;
}

#images h2 {
    text-align: center;
    background-color: antiquewhite;
    font-family: "Times New Roman", Times, serif;
    color: forestgreen;
}*/