body{
    font-family: 'Univers LT Std', sans-serif;
    color: #212121;
    background-color: #f4f3e8 !important;
}

.wd-Navigation a{
    color: #337AB7;
}

.item-button{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #689F38;
    text-decoration: none;
    margin: 20px;
}

.item-button:hover{
    color: #0C5030;
}

.card{
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-image{
    padding-bottom: 10px;
    width: 100px;
}

.screen-title{
    text-align: center;
    padding-bottom: 40px;
    font-size: 40px;
}

.centered{
    text-align: center;
}

.reset{
    font-size: 20px;
    margin-top: 30px;
    background-color: #8BC34A !important;
    margin-bottom: 100px;
}

.reset:hover{
    background-color: #689F38 !important;
}

.row{
    text-align: center;
}

.btn {
    background-color: #7BA643 !important;
}
.btn:hover{
    color: #FFFFFF !important;
    background-color: #0C5030 !important;
}

.shop-screen, .receipt-screen{
    margin-top: 40px;
}

.Calculator h3{
    font-size: 30px;
}

.history{
    font-size: 20px;
}

.Calculator .screen-title{
    font-size: 50px;
}

.quiz-button{
    margin: auto;
    margin-bottom: 40px;
}

.caption{
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    margin-top: 110px;
}

.martin{
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    margin-top: -50px;
}

.GLimage{
    padding-top: 10px;
}

#info-links{
    margin-bottom: 250px;
}

.InitItemScreen, .SecondItemCategory{
    border-left: solid #BDBDBD;
    border-right: solid #BDBDBD;
    border-width: 2px;
}

.items{
    max-height: 600px;
    overflow-y: auto;
}

.filter{
    margin-bottom: 20px;
}

.sidebar-row{
    margin-bottom: 0 !important;
    text-align: left;
}

.sidebar-row a{
    text-decoration: none;
}

.collection-item{
    color: #689F38 !important;
}

.collection-item.active{
    background-color: #8BC34A !important;
    color: white !important;
}

.categories{
    max-height: 720px;
    overflow-y: auto;
}

.item-slot{
    height: 350px;
    border-bottom: solid #BDBDBD;
}

.filter-card{
    height: 250px;
}

.filter-image{
    height: 120px;
    width: auto !important;
    margin-bottom: 25px;
}

.material-icons{
    font-size: 22px !important;
    padding-right: 14px;
    vertical-align: bottom;
}

.info-title{
    font-size: 50px;
    color: #7BA643;
}

.sc-tutorial{
    text-align: left;
    padding: 20px;
}

.page-desc{
    text-align: center;
    font-size: 16px;
}

#submit-quiz-button{
    margin-bottom: 20px;
}