body {
    background-size: 100%;
    background-repeat: no-repeat;
}

.item-thumbnail {
    width: 85px;
}

#draggable-menu-wrapper {
    width: 400px;
    position: absolute !important;
    right: 18%;
    top: 23%;
}

.canvas-container {
    background-color: transparent;
    width: 600px;
    height: 600px;
    position: absolute !important;
    top: 56%;
    left: 49%;
    margin-left: -400px;
    margin-top: -300px;
}

canvas {
    border: 1px solid lightgray;
}


/*.imageDialog {
    width: 120px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
}*/

#images div {
    border: 1px solid black;
    border-top: 1px solid black;
    height: 200px;
}

#images h2 {
    text-align: center;
    border: 1px solid black;
    color: green;
}