body{
    font-family: 'Univers LT Std', sans-serif;
}

.container{
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 18px;
    color: #212121;
}

.header-links li{
    margin: 5px 35px;
    color: #448AFF;
    font-size: 30px;
}

.header-links{
    -webkit-box-shadow: 0px 30px 50px -20px rgba(33, 33, 33, 0.25);
    -moz-box-shadow:    0px 30px 50px -20px rgba(33, 33, 33, 0.25);
    box-shadow:         0px 30px 50px -20px rgba(33, 33, 33, 0.25);

    margin-bottom: 60px;
}

.title{
    font-size: 60px;
    color: #7BA643;
}

.fact-text{
    padding-top: 10px;
    padding-bottom: 10px;
}

hr{
    border-top: 1px solid #BDBDBD !important;
}

.GLimage{
    padding-top: 10px;
}

.page-title{
    padding-bottom: 40px;
    font-size: 60px;
    color: #7BA643;
}

.result-image{
    width: 150px;
}