<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/dYD.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/fabric.min.js"></script>

    <!-- Bootstrap Library Link -->
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <title>Interactive Apartment</title>
    <script>
        $(function () {
            $("#draggable-menu").accordion();
        });
    </script>
</head>

<body ng-app="ItemListApp" ng-controller="ListController">
    <div class="containter">
        <div class="row">
            <h1 style="text-align: center;">
                <img src="img/title.PNG" />
            </h1>
        </div>
    </div>
    <div id="canvas-container">
        <canvas id="c" width="600" height="600"></canvas>
    </div>
    <script>
        var canvas = new fabric.Canvas('c', {
            selection: true
        });
        var grid = 50;
        for (var i = 0; i < (600 / grid); i++) {
            canvas.add(new fabric.Line([i * grid, 0, i * grid, 600], {
                stroke: '#ccc',
                selectable: false,
                hasControls: false,
                hoverCursor: 'pointer'
            }));
            canvas.add(new fabric.Line([0, i * grid, 600, i * grid], {
                stroke: '#ccc',
                selectable: false,
                hasControls: false,
                hoverCursor: 'pointer'
            }));
        }

        fabric.Image.fromURL('img/lamp02.png', function (img) {
            img.setWidth(50);
            img.setHeight(50);
            canvas.add(img);
            img.hasControls = img.hasBorders = false;
        });

        canvas.on('mouse:over', function (e) {
            var objs = canvas.getObjects();
            var mouse = canvas.getPointer(event.e);
            if (e.target == objs[objs.length - 1]) {
                showImageTools(e.target);
            }
        });

        canvas.on('mouse:out', function (e) {
            $('#imageDialog').remove();
        });

        canvas.on('object:moving', function (options) {
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
        });

        function showImageTools(e) {
            if (!$('#imageDialog').length) {
                $('body').append("<div id='imageDialog' style='position: absolute; top: 0; left: 0; color: green' ><h1>Green Tips!</h1></div>");
            }
            moveImageTools(e);
        }

        function moveImageTools(e) {
            var w = $('#imageDialog').width();
            var h = $('#imageDialog').height();
            var coords = getObjPosition(e);
            console.log('coords', coords);
            var top = coords.bottom - h - 20;
            var left = coords.right - 100;
            $('#imageDialog').show();
            $('#imageDialog').css({
                top: top,
                left: left
            });
        }

        function getObjPosition(e) {
            var rect = e.getBoundingRect();
            var offset = canvas.calcOffset();
            var bottom = offset._offset.top + rect.top + rect.height;
            var right = offset._offset.left + rect.left + rect.width;
            var left = offset._offset.left + rect.left;
            var top = offset._offset.top + rect.top;
            return {
                left: left,
                top: top,
                right: right,
                bottom: bottom
            };
        }
    </script>
    <div id="draggable-menu-wrapper">
        <div id="draggable-menu">
            <h3>Bed</h3>
            <div>
                <span ng-repeat="item in items | filter: {type: 'bed'}">
                    <img class="item-thumbnail" draggable="true" ng-src="{{item.icon}}" />
                </span>
            </div>
            <h3>Seating</h3>
            <div>
                <span ng-repeat="item in items | filter: {type: 'seating'}">
                    <img class="item-thumbnail" draggable="true" ng-src="{{item.icon}}" />
                </span>
            </div>            
            <h3>Tables</h3>
            <div>
                <span ng-repeat="item in items | filter: {type: 'table'}">
                    <img class="item-thumbnail" draggable="true" ng-src="{{item.icon}}" />
                </span>
            </div>            
            <h3>Lighting</h3>
            <div>
                <span ng-repeat="item in items | filter: {type: 'lighting'}">
                    <img class="item-thumbnail" draggable="true" ng-src="{{item.icon}}" />
                </span>
            </div>            
            <h3>Posters</h3>
            <div>
                <span ng-repeat="item in items | filter: {type: 'poster'}">
                    <img class="item-thumbnail" draggable="true" ng-src="{{item.icon}}" />
                </span>
            </div>        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
    <script src="js/ListController.js"></script>
</body>

</html>